<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav-affix.html" . }}

        <section id="providers">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">{{ .Title }}</h2>
                        {{ .Date.Format "Mon, Jan 2, 2006" }}

                        <hr class="primary">
                        <p>{{ .Description | markdownify }}</p>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                {{ .Content }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}

    </body>
</html>
