{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-dark" id="install">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{{ with .Site.Params.aside.headline }}{{ . }}{{ end }}</h2>
            <p>{{ with .Site.Params.aside.text }}{{ . }}{{ end }}</p>
            <a href="{{ with .Site.Params.aside.button.link }}{{ . }}{{ end }}" class="btn btn-default btn-xl wow tada">{{ with .Site.Params.aside.button.text }}{{ . }}{{ end }}</a>
        </div>
    </div>
</aside>
