<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav.html" . }}

        {{ partial "hero.html" . }}
        {{ partial "about.html" . }}
        {{ partial "overview.html" . }}
        {{ partial "features.html" . }}
        {{ partial "aside.html" . }}
        {{ partial "contact.html" . }}

        {{ partial "modals.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
