<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav-affix.html" . }}
        {{ "<!-- PROVIDERS -->" | safeHTML }}
        <section id="providers">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">{{ with .Description }}{{ . }}{{ end }}</h2>
                        <hr class="primary">
                        <p>{{ with .Params.heading }}{{ . | markdownify }}{{ end }}</p>
                    </div>
 
		</div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
				<p>
                                        <address>
                                            <h4><strong>Mayan EDMS LLC</strong></h4>
                                            PO Box 368159<br>
                                            San Juan, PR 00936<br>
                                            email: <a href="mailto:info@mayan-edms.com">info@mayan-edms.com</a>
                                        </address>
                        	</p>                    
                	 </div>
		</div>

                    <div class="container">
                        <div class="row">
                           <h2 class="text-center">Regional providers</h2>
                            {{ range .Params.providers.list }}
                                <div class="col-lg-4 col-md-6 text-center">
                                    <div class="service-box" style="min-height: 250px;">
                                        <hr>
                                        <address>
                                            <h4>{{ .title }}</h4>
                                            {{ .address | markdownify }}<br>
                                            {{ .contact | markdownify }}
                                        </address>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <hr>
                                <p>
                                    If you want to be added to this page, please send an email to <a href="mailto:support@mayan-edms.com">support@mayan-edms.com</a>.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
    {{ partial "js.html" . }}
</html>
