<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav-affix.html" . }}

        <section id="posts">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">{{ .Title }}</h2>
                        <hr class="primary">
                        <p>{{ .Description | markdownify }}</p>
                    </div>

                    <div class="container">
                        {{ range .Data.Pages.GroupByDate "2006" }}
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2>{{ .Key }}</h2>
                            </div>
                        </div>

                        {{ range .Pages }}
                            {{ .Render "li"}}
                        {{ end }}

                        {{ end }}
                    </div>

                </div>
            </div>
        </section>

    </body>
    {{ partial "js.html" . }}
</html>
